/* Section Styles */
section {
  padding-top: 20px;
}

/* Container Styles */
.container {
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 16px 8px 18px rgba(7, 7, -7, 0.1);
}

.col-xs-10 h4 {
  color: #34495e; /* Dark blue color */
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 20px;
}
.col-xs-10
{
    height: 100%; 
    padding-left: 90px
}

.profile {
  width: 170px;
  height: 170px;
  margin-top: 50px;
  margin-left: 85px;
}

.col-xs-2 img {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-left: 12px;
  
}
.col-xs-2{
  margin-bottom: -90px
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
  color: #2c3e50; /* Dark blueish color for the main heading */
}

h4 {
  color: #34495e; /* Dark blue color */
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 20px;
}

/* Navbar Styles */
.navbar-custom {
  background-color: white;
  font-weight: 600;
}

/* Span Styles */
.nav-link:hover {
  color: green !important;
}

/* Navbar Link Styles */
.nav-link.active {
  color: green !important; /* Highlight color for the active link */
  font-weight: 700;
}

.navbar-nav .nav-link {
  font-size: 16px !important;
}
.row {
  margin-bottom: 20px; /* Space between rows */
}

/* Column Styles */
.col-sm-4 {
  padding: 15px; /* Inner spacing within each column */
  border-radius: 5px; /* Optional: Rounds the corners of each column */
}

/* On hover, add a subtle background to highlight the column (Optional) */
.col-sm-4:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
@media (min-width: 768px){
  .navbar-nav{
    margin-left: 50px;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .col-md-2 {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .navbar-nav .nav-link {
    margin-left: 90px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar-custom {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d1d1d1;
}

.navbar-custom .navbar-nav .nav-link {
  color: #333;
}

.navbar-custom .navbar-toggler-icon {
  color: #333;
}

.home {
  font-size: 32px;
  font-weight: 600;
}

.about {
  margin-top: 30px;
  font-weight: 600;
}

.date {
  color: rgb(79, 78, 78);
  font-weight: 500;
}
.home {
  margin-top: 25px;
  margin-left: 60px;
}

.col-sm-8 {
  margin-top: 40px;
}
